{{> menu}}
<h1>Message</h1>

<form action="/send-message" method="post">
  <p>1. Select a Space</p>
  <select name="spaceId" size="8">
    {{#spaces}}<option value={{id}}>{{title}}</option>{{/spaces}}
  </select>
  
  <p>2. Type a message</p>
  <textarea name="text" rows="8"></textarea>
  
  <p>3. Message title</p>
  <input type="text" name="title">
  
  <p>4. Message Color</p>
  <input type="text" name="color">
  
  <p>5. Actor Name</p>
  <input type="text" name="actorName">
  
  <p>6. Actor Avatar</p>
  <input type="text" name="actorAvatar">
  
  <p>7. Action</p>
  <input type="text" name="action">
  
  <p>8. <input type="submit" value="Send Message!"></p>
</form>

{{#sent}}
<h4>Your message was sent!</h4>
{{/sent}}
